@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Yrsa";
  @apply bg-gray-800 text-white;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: transparent !important;
}

/* exo-700 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("./fonts/exo-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/exo-v12-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/exo-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/exo-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/exo-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/exo-v12-latin-700.svg#Exo")
      format("svg"); /* Legacy iOS */
}
/* exo-900 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("./fonts/exo-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/exo-v12-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/exo-v12-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/exo-v12-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/exo-v12-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/exo-v12-latin-900.svg#Exo")
      format("svg"); /* Legacy iOS */
}

/* yrsa-regular - latin */
@font-face {
  font-family: "Yrsa";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./fonts/yrsa-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/yrsa-v7-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/yrsa-v7-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/yrsa-v7-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/yrsa-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/yrsa-v7-latin-regular.svg#Yrsa")
      format("svg"); /* Legacy iOS */
}
