@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Yrsa";
    @apply bg-skin-base text-skin-fg;
  }

  :root {
    --color-background: #fff;
    --color-background-muted: #4b5563;
    --color-background-medium: #d1d5db;

    --color-text: #1f2937;
    --color-header: 0, 0, 0;
    --color-header-text: 245, 245, 245;
    --color-text-muted: #4b5563;

    --color-focus: #06b6d4;
    --color-anchor: #8b5cf6;
    --color-anchor-hover: #a78bfa;

    --color-primary: #fee2e2;
    --color-secondary: #fef3c7;
  }

  .dark {
    --color-background: #002f3c;
    --color-background-muted: #52525b;
    --color-background-medium: #e5e7eb;

    --color-text: #f9fafb;
    --color-header: 17, 24, 39;
    --color-header-text: 245, 245, 245;
    --color-text-muted: #d1d5db;

    --color-focus: #84cc16;
    --color-anchor: #f472b6;
    --color-anchor-hover: #ec4899;

    --color-primary: #1e3a8a;
    --color-secondary: #4c1d95;
  }
}

@layer utilities {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none !important;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: transparent !important;
  }
}

/* exo-700 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("./fonts/exo-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/exo-v12-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/exo-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/exo-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/exo-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/exo-v12-latin-700.svg#Exo")
      format("svg"); /* Legacy iOS */
}
/* exo-900 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("./fonts/exo-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/exo-v12-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/exo-v12-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/exo-v12-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/exo-v12-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/exo-v12-latin-900.svg#Exo")
      format("svg"); /* Legacy iOS */
}

/* yrsa-regular - latin */
@font-face {
  font-family: "Yrsa";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./fonts/yrsa-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/yrsa-v7-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/yrsa-v7-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/yrsa-v7-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/yrsa-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/yrsa-v7-latin-regular.svg#Yrsa")
      format("svg"); /* Legacy iOS */
}
